.wrapper{
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    grid-auto-rows: 2fr 1fr 10fr 2fr;
    grid-template-areas:
    'header header header'
    'livefeed livefeed livefeed'
    '. content .'
    'footer footer footer';
    grid-gap: 5px;
}

.mainfeed{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-auto-rows: 3fr;
    grid-template-areas:
    'feed feed feed'
    ;
    grid-gap: 5px;
}

.navbar-custom {
    background-color: rgb(0, 171, 7);
}